<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %>

<% @user.microposts.each do |micropost| %>
  <%= render partial: 'microposts/micropost', locals: {micropost: micropost} %>
<% end %>
